/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --var-font: PressStart2P, sans-serif;
    --main-font: Inter-Variable, sans-serif;
    --title-fw: 700;
    --text-fw: 400;
    --f-size: 18px;
    --stroke-color: #ffffff;
    --h-width: 696px;
    --bg-img:
        repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(rgb(231, 231, 231) 0.01%, rgb(26, 26, 26) 100%);
    --brand-color: #ffffff;
    --contour-color: black;
    --sparks-color: #FF0000;
    --main-body-color: #FF0000;
}
