/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --var-font: PressStart2P-Regular, sans-serif;
    --main-font:Inter-Variable, sans-serif;
    --title-fw:700;
    --text-fw:400;
    --f-size:18px;
    --stroke-color:#ffffff;
    --h-width:696px;
    --bg-img: 
        repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
        repeating-linear-gradient(  transparent 2px ,#d3d3d3 ),
        linear-gradient(#e7e7e7, #1a1a1a)
    ;
    --brand-color:#ffffff;
    --contour-color:black;
    --sparks-color:#FF0000;
    --main-body-color:#FF0000;
}
